source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/stationary/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/inpocket/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/wake_gesture/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/glance_gesture/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/answercall/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/pickup_gesture/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/device_orientation/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/motion_detect/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/tilt_detector/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/flat/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/sar/Kconfig"
#TN Begin modified by ye.yuan/860593 20220825 EKFOGO4G-1638 begin
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/flip_twist/Kconfig"
#TN Begin modified by ye.yuan/860593 20220825 EKFOGO4G-1638 end
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/chop_chop/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/situation/situation_hub/sig_move/Kconfig"